body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75pt;
    font-style: normal;
}
.back, .dev_info {
    color: #ffffff;
    block-size: 200px;
    display: flex;
    align-items: center;
}
.back {
    background: #3678f4; 
    justify-content: start;
    padding-left: 135px;
}
.a_back {
    color: #ffffff;
}
.dev_info {
    background: #a870d9; 
    justify-content: center;
}