body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75pt;
    font-style: normal;
}
#back, #dev_info {
    color: #ffffff;
    block-size: 200px;
    display: flex;
    align-items: center;
}
#back {
    background: #3678f4; 
    justify-content: start;
    padding-left: 135px;
}
#a_back {
    color: #ffffff;
}
#dev_info {
    background: #a870d9; 
    justify-content: center;
}
#free_time, #name, #about, #making_videos, #painting {
    color: #ffffff;
    block-size: 200px;
    display: flex;
    align-items: center;
}
#free_time {
    background: #34b423; 
    align-content: center;
    justify-content: center;
}
#making_videos, #painting {
    block-size: 500px;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 1500px;
}
#making_videos {
    background-image: url("../img/making_videos.png");
}
#painting {
    background-image: url("../img/painting.png");
}